<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  @if(username.indexOf('v') === 0)
    <h2 class="title"> Hello Virk </h2>
  @elseif(username.indexOf('n') === 0)
    <h2 class="title"> Hello Nikk </h2>
  @else
    <h2 class="title"> Your name does not start with v or n </h2>
  @endif

</body>
</html>
