<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  @if(username === 'virk')
    <h2 class="title"> Hey Virk </h2>
  @elseif(username === 'nikk')
    <h2 class="title"> Hello Nikk </h2>
  @elseif(username === 'joe')
    <h2 class="title"> Heya Joe </h2>
  @endif
</body>
</html>
