<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  @if(username === 'virk')
    <h2 class="title"> Hello {{ username }} </h2>
  @else
    <h2 class="title"> Hello anonymous </h2>
  @endif

</body>
</html>
