<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .__inspect_output {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  {{ inspect($state, 1) }}
  @set('users', [{}])

  @component('alert', { title: 'hello world' })
    @slot('title', props)
      @include('partial')
    @endslot
  @endcomponent
</body>
</html>
