@each(user in users)
-
  username: {{ user.username }}
  name: {{ user.name }}
  job: {{ user.job }}
  skills:
  @component('yaml-components/skills', skills = user.skills)
    @slot('skill', skill)
    - {{ skill }}
    @endslot
  @endcomponent
@endeach