<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <ul>
    @each(user in users)
      <li>{{ ($loop.index + 1) }} {{ user.substr(0, 3) }}</li>
    @endeach
  </ul>

</body>
</html>
