<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  {{ inspect(state) }}

  @component('components.modal', title = 'Card', age = 22)
    @slot('body')
      <p>hello</p>
    @endslot

    @slot('actions')
      <button>delete</button>
    @endslot
  @endcomponent
</body>
</html>
